@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #2ed13b;
    --secondary: #1e293b;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
}